.recipe-detail {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 30px;
  /* justify-content: space-around; */
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 550px) {
  img {
    width: 100%;
  }
}
