.search-bar {
  width: 97%;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 40px;
  border: 1px solid #ddd;
}

.search-bar input {
  width: 98%;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  outline: none;
}

.btn {
  padding: 1rem;
  border: none;
  background: yellowgreen;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
}

@media screen and (max-width: 720px) {
  .search-bar {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
